
body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header nav{
    padding: 0 7%;
    height: 64px;
    box-shadow: -30px 23px 40px -25px #000;
    position: relative;
    padding: 0px 8%;
    z-index: 99;
}

header nav a >img{
    width: 14%;
    float: left;
    margin: -2px 0;
}

header nav>ul{
    float: right;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

header nav>ul li{
    display: inline-block;
    height: 100%;
}
header nav>ul li a {
    text-decoration: none;
    padding: 20px 35px;
    display: block;
    -webkit-background-image: linear-gradient(to right,#263e74,#100065);
    background-image: linear-gradient(to right,#263e74,#28006a);
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: bold;
    height: 100%;
}

header nav>ul li a.active{
    -webkit-background-image: linear-gradient(to right,#263e74,#28006a);
    background-image: linear-gradient(to right,#263e74,#28006a);
    -webkit-background-clip: unset;
    background-clip: unset;
    color: white;
}

header nav>ul li a:hover{
    -webkit-background-image: linear-gradient(to right,#263e74,#28006a);
    background-image: linear-gradient(to right,#263e74,#28006a);
    -webkit-background-clip: unset;
    background-clip: unset;
    color: white;
}

header>div{
    display: block;
    width: 100%;
    height: 312px;
    background-position: center;
    background-size: cover;
    position: relative;
}

header>div .overlay{
    display: block;
    width: 100%;
    height: 100%;
    opacity: .8;
    background-image: linear-gradient(to right,#fff,#ffffff6b);
}
header>div article{
    position: absolute;
    top: 18%;
    left: 10%;
    width: 45%;
    color:#1c004a;;
}
header>div article h1{
    font-size: 65px;
    margin-bottom: 10px;
}
header>div article P{
    font-size: 20px;
    text-align: justify;
    margin-top: 5px;
}


/* Cours Contenu */

main{
    width: 90%;
    margin: 0 auto;
    position: relative;
}

main section{
    width: 75%;
    float: left;
    padding: 20px;
}

main section h2{
    font-size: 32px;
    color: #28006a;
}

main section p,
main section ul{
    font-size: 14px;
    text-align: justify;
    color: #666;
}
main section>aside{
    margin: 40px auto;
    width: 60%;
}
main section>aside a{
    display: inline-block;
    text-decoration: none;
    padding: 15px 40px;
    font-weight: bold;
}

main section>aside a:first-child{
    -webkit-background-image: linear-gradient(to right,#263e74,#28006a);
    background-image: linear-gradient(to right,#263e74,#28006a);
    color: #fff;
    margin-right: 50px;
}
main section>aside a:last-child{
    border: 3px solid #28006a;
    color: #28006a;
}

main section>aside a:hover:last-child{
     -webkit-background-image: linear-gradient(to right,#263e74,#28006a);
    background-image: linear-gradient(to right,#263e74,#28006a);
    color: #fff;
}

main>aside{
    width: 20%;
    position: absolute;
    height: 100%;
    right: 0;
    box-shadow: -9px -3px 15px -14px #000;
}
main>aside ul{
    list-style: none;
    margin-top: 30px;
}
main>aside ul li{
    margin-bottom: 25px;
}
main aside ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    -webkit-background-image: linear-gradient(to right,#263e74,#28006a);
    background-image: linear-gradient(to right,#263e74,#28006a);
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}