
body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

header nav{
    padding: 0 7%;
    height: 64px;
    box-shadow: 0px 30px 18px -18px #000;
    position: relative;
    padding: 0px 8%;
    z-index: 99;
}

header nav>img{
    width: 14%;
    float: left;
}

header nav>ul{
    float: right;
    list-style: none;
    height: 100%;
    margin: 0;
}

header nav>ul li{
    display: inline-block;
    height: 100%;
}
header nav>ul li a {
    text-decoration: none;
    padding: 15% 35px;
    display: block;
    -webkit-background-image: linear-gradient(to right,#263e74,#28006a);
    background-image: linear-gradient(to right,#263e74,#28006a);
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: bold;
}

header nav>ul li a.active{
    -webkit-background-image: linear-gradient(to right,#263e74,#28006a);
    background-image: linear-gradient(to right,#263e74,#28006a);
    -webkit-background-clip: unset;
    background-clip: unset;
    color: white;
}

header>div{
    display: block;
    width: 100%;
    height: 312px;
    background-position: center;
    background-size: cover;
    position: relative;
}

header>div .overlay{
    display: block;
    width: 100%;
    height: 100%;
    opacity: .4;
    background-image: linear-gradient(to right,#fff,#000);
}
header>div article{
    position: absolute;
    top: 18%;
    left: 10%;
    width: 45%;
    color:#1c004a;;
}
header>div article h1{
    font-size: 45px;
    margin-bottom: 10px;
}
header>div article P{
    font-size: 20px;
    text-align: justify;
    margin-top: 5px;
}
/*section{*/
    /*padding: 50px;*/
/*}*/
/*a{*/
    /*position: fixed;*/
    /*top: 0;*/
    /*right: 0;*/
    /*padding: 20px;*/
    /*background: #eee;*/
    /*color: #333;*/
    /*text-decoration: none;*/
/*}*/

/*.effet-gauche {*/
    /*display: inline-block;*/
    /*vertical-align: middle;*/
    /*-webkit-transform: perspective(1px) translateZ(0);*/
    /*transform: perspective(1px) translateZ(0);*/
    /*box-shadow: 0 0 1px rgba(0, 0, 0, 0);*/
    /*-webkit-transition-property: color;*/
    /*transition-property: color;*/
    /*-webkit-transition-duration: 0.3s;*/
    /*transition-duration: 0.3s;*/
/*}*/
/*.effet-gauche:before {*/
    /*content: "";*/
    /*position: absolute;*/
    /*z-index: -1;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*background: #2098D1;*/
    /*-webkit-transform: scaleX(0);*/
    /*transform: scaleX(0);*/
    /*-webkit-transform-origin: 100% 50%;*/
    /*transform-origin: 100% 50%;*/
    /*-webkit-transition-property: transform;*/
    /*transition-property: transform;*/
    /*-webkit-transition-duration: 0.3s;*/
    /*transition-duration: 0.3s;*/
    /*-webkit-transition-timing-function: ease-out;*/
    /*transition-timing-function: ease-out;*/
/*}*/
/*.effet-gauche:hover {*/
    /*color: white;*/
/*}*/
/*.effet-gauche:hover:before {*/
    /*-webkit-transform: scaleX(1);*/
    /*transform: scaleX(1);*/
/*}*/