body{
    margin: 0;
    font-family: open sans;
}
nav,section{
    width: 80%;
    margin: 20px auto;
}
nav{
    height: 15%
}
section{
    height: 85%
}

/* nav Styles */
nav>ul{
    float: right;
    margin: 5px;
}

nav img{
    width: 160px
}

nav ul>li{
    display: inline-block;
    padding: 5px;
    margin: 5px 26px;
    border-bottom: 2px solid #18164D;
}

nav ul>li>a{
    text-decoration: none;
    color: #18164D;
    font-weight: bold
}

/* Contenu Styles */
section article:first-child{
    width: 40%;
    display: inline-block;
}
section article:first-child h1{
    font-size: 45px;
    margin-bottom: 25px
}
section article:first-child button{
    margin: 20px 22%;
    padding: 10px 40px;
    border-radius: 20px;
    border: none;
    color: #fff;
    background: #18164D;
    font-size: 19px;
}
section article:last-child{
    width: 60%;
    display: inline-block;
    float: right;
    margin-right: -80px
}
section article:last-child img{
    width: 100%
}